{% extends "layoutNoSide.html" %}
{% block content %}

<h3>
  Ostatni aktualny odczyt z bransoletki:
  <small class="text-muted">{{result.owner.username}}</small>
</h3>
<p class="lead">Dane z dnia: {{result.date_posted.strftime('%Y-%m-%d %H:%M:%S')}}</p>

<div id="myDiv" style="height: 800px; width:1100px;">
</div>

<script type="text/javascript">

console.log({{time}})

var trace1 = {
  type: "scatter",
  mode: "lines",
  x: {{time}},
  y: {{hr}},
  line: {color: '#17BECF'}
}
var data = [trace1];

var layout = {
  title: 'Częstość serca',
  xaxis: {
    autorange: true,
    range: [86.8700008333, 138.870004167],
    rangeselector: {buttons: [
        {
          count: 1,
          label: '1m',
          step: 'month',
          stepmode: 'backward'
        },
        {
          count: 6,
          label: '6m',
          step: 'month',
          stepmode: 'backward'
        },
        {step: 'all'}
      ]},
    rangeslider: {range: [86.8700008333, 138.870004167]},
    type: 'linear'
  },
  yaxis: {
    autorange: true,
    range: [86.8700008333, 138.870004167],
    type: 'linear'
  }
};

Plotly.newPlot('myDiv', data, layout);



</script>

{% endblock content %}
